h1{
    color: salmon;
}
.red{
    background-color: red;
    color: white;
    grid-column: 1/span 2;
}
.blue{
    background-color: blue;
    color: white;
}
.orange{
    background-color: orange;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.black{
    background-color: black;
    color: white;
}
.grid-container{
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;

}
input{
    grid-column: 1 / span 4;
}
header{
    display: flex;
    justify-content: space-between;
}